// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.signup-form {
  display: block;
  margin: auto;
  width: 40%;
}

.navbar {
  background-color:#3f87a6;
}


.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(300px, auto);
}
.one {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: grey;
}
.two {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  background-color: grey;
}
.three {
  grid-column: 1;
  grid-row: 3 / 5;
  background-color: grey;
}
.four {
  grid-column: 2 / 4;
  grid-row: 2 / 5;
  background-color: grey;
}

// navbar styles

.navbar a {
  font-family: 'Zilla Slab', serif;
  font-weight: bold;
  color:black !important;
}
